[submodule "term/.bash-git-prompt"]
	path = term/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/vundle.git
[submodule "tmux-gitbar"]
	path = term/.tmux-gitbar
	url = git@github.com:aurelien-rainone/tmux-gitbar.git
