[user]
  email = aurelien.rainone@gmail.com
  name = Aurélien Rainone
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = vimdiff $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[difftool "vimdiff"]
  cmd = vimdiff $LOCAL $REMOTE
[alias]
  # to save a few keystrokes
  br = branch -avv
  co = checkout
  st = status --column
  ds = diff --staged
  mt = mergetool
  mtg = mergetool --gui
  dt = difftool
  dtg = difftool --gui
  cm = "commit -m"

  ## Tree
  # pretty logging: full tree
  lg = log --all --graph --abbrev-commit --date=relative
  # pretty logging: only commits leading to HEAD
  lol= log --pretty=oneline --abbrev-commit --graph --decorate

  # Interactive apply patch (hunks)
  ipatch = "!f() { git apply $1; git add -p; }; f"

  ## Time-savers
  # Unstage everything
  unstage   = reset HEAD
  # Set the working tree as if the last comit hadn't been commited
  undo      = reset --soft HEAD^
  cosmetics = commit -m 'Cosmetics'
  # Interactive rebase with the given number of latest commits
  reb = "!r() { git rebase -i --autosquash HEAD~$1; }; r"
  # Put the whole staging area in a fixpu commit
  tobesquashed = commit --fixup HEAD
  ctags = "!f() { (cd $(git rev-parse --show-toplevel) && .git/hooks/gentags) ; }; f"
  amend = commit --amend
  # Place all modifications in a WIP commit
  wip = "!f() { git add -u && git cm wip; }; f"

  ## Codereview
  change = codereview change
  gofmt = codereview gofmt
  mail = codereview mail
  pending = codereview pending
  submit = codereview submit
  sync = codereview sync
  dag = cola dag

  odoo = "!f() { git --no-pager log --all --no-merges --since \"last month\" --author \"$(git config user.name)\" --abbrev-commit --oneline --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=short --color=auto ; }; f"
[status]
  relativePaths = true
[push]
  default = simple
[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[core]
  excludesfile = ~/.gitignore
  editor = /usr/bin/vim
[color "status"]
  header    = white dim
  branch    = yellow bold
  added     = green bold
  changed   = red bold
  untracked = cyan
[color "diff"]
  meta        = yellow
  commit      = green
  frag        = magenta
  old         = red
  new         = green
  whitespace  = "red reverse"
[credential]
  helper = cache --timeout=3600
[filter "lfs"]
  required = true
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  clean = git-lfs clean -- %f
[rebase]
  autosquash = true
[init]
  templatedir = ~/.git_template
[gui]
  fontui = -family \"Consolas\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family \"Consolas\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[http]
  cookiefile = /home/aurelien/.gitcookies
[advice]
  ignoredHook = false
[cola]
  spellcheck = false
[url "git@github.com:"]
  insteadOf = https://github.com/
[rerere]
  enabled = true
