[user]
	# https://confluence.atlassian.com/pages/viewpage.action?pageId=271943168
	email = aurelien.rainone@gmail.com
	name = Aurélien Rainone
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	br = branch -avv
	branches = branch
	co = checkout
	st = status --column
	dt = difftool
	lg = log --all --graph --abbrev-commit --date=relative
	# interactive apply patch
	ipatch = "!f() { git apply $1; git add -p; }; f"
[push]
	default = simple
[format]
	pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[core]
	excludesfile = ~/.gitignore
[color "status"]
  header    = white dim
  branch    = yellow
  added     = green
  changed   = red
  untracked = blue
