[user]
  # https://confluence.atlassian.com/pages/viewpage.action?pageId=271943168
  email = aurelien.rainone@gmail.com
  name = Aurélien Rainone
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  br = branch -avv
  branches = branch
  co = checkout
  st = status --column
  dt = difftool
  lg = log --all --graph --abbrev-commit --date=relative
  lol       = log --pretty=oneline --abbrev-commit --graph --decorate
  # interactive apply patch
  ipatch = "!f() { git apply $1; git add -p; }; f"
  unstage   = reset HEAD
  undo      = reset --soft HEAD^
  cosmetics = commit -m 'Cosmetics'
[status]
  relativePaths = true
[push]
  default = simple
[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[core]
  excludesfile = ~/.gitignore
[color "status"]
  header    = white dim
  branch    = yellow bold
  added     = green bold
  changed   = red bold
  untracked = cyan
[color "diff"]
  meta        = yellow
  commit      = green
  frag        = magenta
  old         = red
  new         = green
  whitespace  = "red reverse"
[credential]
	helper = cache --timeout=3600
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
