# vim: filetype=sh

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}


# As which can have undesired side effects and can't always be used
# to know if a program exists, use safewhich, which is safe!
# 
# Credits goes to:
# http://stackoverflow.com/questions/592620/check-if-a-program-exists-from-a-bash-script
function safewhich() {
    command -v "$1" >/dev/null 2>&1
}
